.wrapper {
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) minmax(60rem, 1fr) minmax(1rem, 1fr);
  overflow-x: scroll;
}

.wrapper > * {
  grid-column: 2 / -1;
}

.skillList {
  display: flex;
  flex-direction: row;
  gap: var(--pad-small);
  list-style: none;
}

.skillList li {
  font-size: 1.2rem;
  font-weight: 600;
}
