.projectBlock {
  border: 2px solid var(--highlight);
  border-radius: .5em;
  padding: var(--pad-med);
  padding-block-start: var(--pad-x-small);
  margin-block: var(--pad-lrg);
}

.projectBlock:first-of-type {
  margin-block-start: var(--pad-med);
}

.projectBlock_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-block-end: 1px solid var(--highlight);
  padding-block-end: .5em;
  padding-inline-start: 1.2em;
  margin-block-end: var(--pad-small);
}

.projectBlock h3 {
  font-size: 2rem;
}

.projectBlock_links {
  list-style: none;
  display: flex;
  gap: var(--pad-x-small);
}

.projectBlock_links a {
  padding: .6em;
  border-width: 2px;
  border-radius: .5em;
  color: var(--highlight);
  font-weight: 100;
  letter-spacing: .08em;
  mix-blend-mode: difference;
  text-decoration: none;

  display: flex;
  flex-direction: row;
  place-items: center;
  gap: .5em;
}

.projectBlock_links a:hover{
  filter: brightness(1.2);
  background-color: hsla(0, 0%, 100%, 20%);
}

.projectBlock_links svg {
  width: 1em;
  height: 1em;
}

.projectBlock_tags {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--pad-x-small);
  color: var(--highlight);
  align-items: center;
}