.projectBlock {
  border: 2px solid var(--highlight);
  border-radius: .5em;
  padding: var(--pad-med);
  padding-block-start: var(--pad-x-small);
  margin-block: var(--pad-lrg);
}

.projectBlock:first-of-type {
  margin-block-start: var(--pad-med);
}

.projectBlock_top {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-items: end;
  gap: var(--pad-x-small);

  border-block-end: 1px solid var(--highlight);
  padding-block-end: .5em;
  margin-block-end: var(--pad-small);
}

@media screen and (max-width: 40rem) {
  .projectBlock_top {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }

  .projectBlock_links {
    justify-self: start;
  }
}

.projectBlock h3 {
  font-size: 2rem;
}

.projectBlock_links {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: var(--pad-x-small);
  height: min-content;
}

.projectBlock_links a {
  padding: .6em;
  border-width: 2px;
  border-radius: .5em;
  color: var(--highlight);
  font-weight: 100;
  letter-spacing: .08em;
  mix-blend-mode: difference;
  text-decoration: none;

  display: flex;
  flex-direction: row;
  place-items: center;
  gap: .5em;
}

.projectBlock_links a:hover{
  filter: brightness(1.2);
  background-color: hsla(0, 0%, 100%, 20%);
}

.projectBlock_links svg {
  width: 1em;
  height: 1em;
}

.projectBlock_tags {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 100%;
  gap: var(--pad-x-small);
  color: var(--highlight);
  font-size: clamp(.2rem, .2rem + 2vw, 1rem);
}