.mainMenu {
  --menu-line-size: clamp(2rem, 18vw, 20rem);

  color: var(--highlight);
  font-weight: 100;
  letter-spacing: .08em;
  position: fixed;
  top: var(--pad-med);
  right: calc(var(--pad-med) + var(--menu-line-size));
  mix-blend-mode: difference;
}

.mainMenu ul {
  display: flex;
  gap: var(--pad-x-small);
  list-style: none;
}

.mainMenu a {
  text-decoration: none;
  transition: .2s ease-out;
  padding: .6em;
  border-width: 2px;
  border-radius: .5em;
}

.mainMenu a:hover {
  filter: brightness(1.2);
  background-color: hsla(0, 0%, 100%, 20%);
}

.featuredMenuItem {
  border: solid var(--highlight);
}

.mainMenu::after {
  content: '';
  width: var(--menu-line-size);
  height: var(--menu-line-size);
  border: solid 2px var(--highlight);
  border-bottom: none;
  border-left: none;
  position: fixed;
  right: var(--pad-med);
  top: calc(var(--pad-med) + 0.5em);
}
