.menu {
  --menu-line-size: clamp(2rem, 18vw, 20rem);
  font-weight: 100;
  letter-spacing: 0.08em;
  mix-blend-mode: difference;
  position: static;
}

.menu ul {
  list-style: none;
  display: flex;
  gap: var(--pad-x-small);
}

.menu a {
  color: var(--highlight);
  text-decoration: none;
  transition: 0.2s ease-out;
  padding: 0.6em;
  border-width: 2px;
  border-radius: 0.5em;
}

.menu a:hover {
  filter: brightness(1.2);
  background-color: hsla(0, 0%, 100%, 20%);
}

.featuredMenuItem {
  border: solid var(--highlight);
}

.menu_main {
  display: none;
}

.menu_contact {
  margin: var(--pad-x-small);
}

.menu_contact ul {
  flex-direction: row;
  gap: var(--pad-med);
  place-content: end;
}

.menu_contact svg {
  width: 2em;
  height: 2em;
  vertical-align: middle;
}

@media screen and (min-width: 80ch) {
  .menu {
    position: fixed;
  }

  .menu_main {
    display: flex;
    top: var(--pad-med);
    right: calc(var(--pad-med) + var(--menu-line-size));
  }

  .menu_main::after {
    content: "";
    width: var(--menu-line-size);
    height: var(--menu-line-size);
    border: solid 2px var(--highlight);
    border-bottom: none;
    border-left: none;
    position: fixed;
    right: var(--pad-med);
    top: calc(var(--pad-med) + 0.5em);
    pointer-events: none;
  }

  .menu_contact {
    top: calc(var(--pad-med) + var(--menu-line-size) + 2 * var(--pad-x-small));
    right: calc(var(--pad-med) - 1.5em);
    margin: 0;
  }

  .menu_contact ul {
    flex-direction: column;
  }
}
